*{
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
}
body{
    background: url("images/background.jpg") no-repeat fixed center ;
    background-size:cover;
    overflow:hidden;

}
h1{
    margin:auto;
    margin-top:0px;
    font-size:4vw;
    text-align:center;
    color: white;
    text-decoration: none;
}
.container{
    display:flex;
    margin:auto;
    margin-top:15px;
    flex-direction:column;
    align-items:center;
    
    
}
.content{
    background-color:lightblue;
    height:auto;
    width:30%;
    min-width:300px;
    border-radius:20px;
    
   
}
.searchbox{
    width:70%;
    height:50px;
    margin:auto;
    margin-top:5%;
    padding:20px;
}
.searchtag{
    width:100%;
    height:100%;
    text-align:center;
    outline:none;
    border-radius: 5px;
    border:none;
    background-color:  #48AAAD;
    font-size:25px;
	}

.searchtag:focus {
    background-color: rgba(255,255,255);
}
.CityName{
    margin-top:2%;
    text-align:center;
}
#city_name{
    font-size:45px;
}
.edit1{
	 width: 70%;
	 margin-left: auto;
        margin-right: auto;
	border: 2px solid white;
}
.Date_div{
    margin-top:2%;
    text-align:center;
}
#Date{
    font-size:25px;
}
.Temp_div{
    margin-top:6%;
    text-align:center;
}
#Temp{
    font-size:80px;
    font-weight:bold;
    color:white;
    text-shadow:6px 3px rgba(0, 0, 0,0.7);
}
.Icon_div{
    text-align:center;
}
.Climate_div{
    margin-top:0px;
    text-align:center;

}
#Climate {
    font-size:60px;
    color:white;
}
.TempRange_div{
    margin-top:3%;
    text-align:center;
    padding-bottom:40px;

}
#TempRange{
    font-size:30px;
    color:white;

}


@media screen and (max-width: 1000px) {
    h1 {
      font-size: 4vw;
    }
  }
@media screen and (max-width: 800px) {
    h1 {
      font-size: 8vw;
    }
  }